.imageList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 60px;
}

.imageListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(25% - 10px);
  min-height: 150px;
  padding: 0;
  margin-bottom: 10px;
  overflow: hidden;
}
